%h2= "Edit #{resource_name.to_s.humanize}"

= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:method => :put}) do |f|
  - if resource.errors.any?
    %ul.errors
      - resource.errors.full_messages.each do |msg|
        %li.error= msg
  .field
    = f.label :email
    = f.email_field :email
  .field
    = f.label :display_name
    = f.text_field :display_name
  .field
    = f.label :password
    = f.password_field :password
    %p.hint (leave blank if you don't want to change it)
  .field
    = f.label :password_confirmation
    = f.password_field :password_confirmation
  .field
    = f.label :current_password
    = f.password_field :current_password
    %p.hint (we need your current password to confirm your changes)
  .actions
    = f.submit "Update"

= link_to "Back", :back
