<% form_for @user, :url => guest_user_path do |form| %>
<p>
  <%= form.label :email %>
  <%= form.text_field :email %>
  <%= form.error_message_on :email %>
</p>
<p>
  <%= form.label :password %>
  <%= form.password_field :password %>
  <%= form.error_message_on :password %>
</p>
<p>
  <%= form.label :password_confirmation %>
  <%= form.password_field :password_confirmation %>
  <%= form.error_message_on :password_confirmation %>
</p>
<p>
  <%= form.submit "Sign up" %>
</p>
<% end %>
