%h2 Sign in

= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  .field
    = f.label :email, "Display name or email"
    = f.text_field :email
  .field
    = f.label :password
    = f.password_field :password
  .field
    = f.label :remember_me
    = f.check_box :remember_me
  .actions
    = f.submit "Sing in"

= render :partial => "devise/shared/links"
