%h3 Board history

%h5 Cards
%table.board-history
  %tbody
    %tr
      %td(colspan=3){:class => "direction-n"}
        = render :partial => "hand", :locals => {:board => @board, :direction => "N"}
    %tr
      %td.direction-w
        = render :partial => "hand", :locals => {:board => @board, :direction => "W"}
      %td
        = render :partial => "directions", :locals => {:board => @board}
      %td.direction-e
        = render :partial => "hand", :locals => {:board => @board, :direction => "E"}
    %tr
      %td(colspan=3){:class => "direction-s"}
        = render :partial => "hand", :locals => {:board => @board, :direction => "S"}

%h5 Auction

%table.auction-history
  %tbody
    %tr.directions
      %td{:class => direction_classes(@board, "N")} N
      %td{:class => direction_classes(@board, "E")} E
      %td{:class => direction_classes(@board, "S")} S
      %td{:class => direction_classes(@board, "W")} W
    - group_bids(@board.bids.map(&:to_s), @board.dealer).each do |group|
      %tr
        - group.each do |bid|
          %td= bid

%h5 Score
= score_string(@board)
%p= "Chicago IMP points: #{chicago_imp(@board)}"
