!!!
%html
  %head
    %title Bridge Libre
    = stylesheet_link_tag "/stylesheets/screen.css", :media => "screen, projection"
    = csrf_meta_tag
    - if current_user
      %meta{ :name => "bridge-user-id", :content => current_user.id }
      %meta{ :name => "bridge-user-name", :content => current_user.name }
  %body
    #container
      #libre-notice= notice
      - if current_user
        #libre-user
          Signed in as
          = current_user.email
          = button_to "Sign out", destroy_user_session_path, :method => :get
      - else
        #libre-signup
          Not signed in
          = link_to "Sign in", new_user_session_path
          = link_to "Sign up", new_user_registration_path
      = yield
      = javascript_include_tag "http://js.pusherapp.com/1.4/pusher.min.js", "yui3/yui/yui", "application"
