!!!
%html
  %head
    %title Bridge Libre
    = stylesheet_link_tag "/stylesheets/screen.css", :media => "screen, projection"
    = csrf_meta_tag
    - if current_user
      %meta{ :name => "bridge-user-id", :content => current_user.id }
  %body
    #container
      #libre-notice= notice
      - if current_user
        #libre-user
          Logged in as
          = current_user.email
          = button_to "Log out", user_session_path, :method => :delete
      - else
        #libre-signup
          Not logged in
          = link_to "Log in", new_user_session_path
          = link_to "Sign up", new_user_path
      = yield
      = javascript_include_tag "yui3/yui/yui", "application"
