!!!
%html
  %head
    %title Bridge Libre
    = stylesheet_link_tag "application.css", :media => "screen, projection"
    = csrf_meta_tag
  %body
    #container
      #libre-notice= notice
      #libre-alert= alert
      - if current_user
        #libre-user
          Signed in as
          = current_user.email
          = link_to "Account", account_path
          = link_to "Tables", tables_path
          = link_to "Sign out", destroy_user_session_path
      - else
        #libre-signup
          Not signed in
          = link_to "Sign in", new_user_session_path
          = link_to "Sign up", new_user_registration_path
      = yield
      = javascript_include_tag "http://cdn.beaconpush.com/clients/client-1.js", "yui3/yui/yui", "config", "application"
